ion-tab-bar {
  --background: #f8f8f8; /* Set background color for the tab bar */
}

ion-tab-button {
  --color-selected: #3880ff; /* Set color for selected tab */
  --color: #8c8c8c; /* Set color for unselected tabs */
}