ion-header {
  --background: #f8f8f8; /* Set background color for the header */
}

ion-toolbar {
  --background: #3880ff; /* Set background color for the toolbar */
  --color: #fff; /* Set text color for the toolbar */
}
